<%- include('partials/header'); -%>


<h9>Please click on the below courses to get started with your journey!</h9>
<ul class="coursees">
  <li class="coursee">
    <img src="/cpp.png" alt="smoothie coursee icon"><a href="https://www.youtube.com/watch?v=vLnPwxZdW4Y" target="_blank">
    <h4>CPP Programming</h4>
    <p>A Complete C++ Course for you to get started with!</p></a>
  
  </li>
  <li class="coursee">
    <img src="/java.png" alt="smoothie coursee icon"><a href="https://www.youtube.com/watch?v=eIrMbAQSU34" target="_blank">
    <h4>Java Programming</h4>
    <p>A Complete Java Course for you to get started with!</p></a>
  </li>
  <li class="coursee">
    <img src="/c.png" alt="smoothie coursee icon"> <a href="https://www.youtube.com/watch?v=irqbmMNs2Bo" target="_blank">
    <h4>C Programming</h4>
   <p>A Complete C Beginner's Course for you to get started with in no time!</p></a>
  </li>
  <li class="coursee">
    <img src="/python.png" alt="smoothie coursee icon"><a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc" target="_blank">
    <h4>Python Programming</h4>
    <p>A Complete Python Course for you to get started with!</p></a>
  </li>
  <li class="coursee">
    <img src="/sql-file.png" alt="smoothie coursee icon"><a href="https://www.youtube.com/watch?v=HXV3zeQKqGY" target="_blank">
    <h4>Sql developement</h4>
    <p>A Complete Sql Course for you to get started with!</p></a>
  </li>
  <li class="coursee">
    <img src="/coding.png" alt="smoothie coursee icon"><a href="https://www.youtube.com/watch?v=Q33KBiDriJY" target="_blank">
    <h4>Web Developement</h4>
    <a href="https://www.youtube.com/watch?v=Q33KBiDriJY" target="_blank"><p>A Complete Web developement Course for you to get started with!</p></a>
  </li>
</ul>

<%- include('partials/footer'); -%>
